.divP {
    background: #000000;
    color: #ffffff;
    width: 47%;
    margin: 10px;
    /*padding: margen interno*/
    padding: 8px;
    border: 5px solid brown ;
    display: inline-block;
}
/*https://htmlcolorcodes.com/es/*/
h1 {
    color: black;
}

h2 {
    color: rgb(10, 203, 241);
} 

h3 {
    color: rgba(0, 61, 241, .5);
} 

h4 {
    color: #FF5733;
} 

p a{
    color: #FF5733;
}
/*h2 {
    color: red;
}

p a {
    color: brown;

}

.green {
    color:green;
}*/

/*Todo el documento*/
/*
body 
{

    Unidades de medida absoluta
    la unidad de medida por defecto en el body es de 16px
    font-size: 16cm;
    font-size: 16mm;
    font-size: 16in;
    Unidades de medida relativa
    font-size: 16px;
    font-size: 16em;
    font-size: 16rem;
}*/

p {
    /*1 em equiale al tamaño del bodi
    font-size: 1em*/
}
